@page
@model OAuthServerRP.Areas.Identity.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<div class="col-sm-6">
    <div method="post">
        <div class="card-header">
            <h2>Local Account</h2>
        </div>

        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--input type="hidden" asp-for="Input.ReturnUrl" /-->
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Input.RememberLogin">
                        <label class="form-check-label" asp-for="Input.RememberLogin">
                            Remember My Login
                        </label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" name="button" value="login">
                <button class="btn btn-secondary" role="button" name="button" value="cancel" asp-page="/Index">Cancel</button>
            </form>
        </div>
    </div>
</div>