@page
@model OAuthServerRP.Areas.Identity.Pages.LogoutModel
@{
}
<h2>Odhlásit uživatele @User.Identity.Name</h2>
<form id="logoutForm" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>