@page
@model OAuthSereverRP.Pages.Account.LogoutModel
@{
}

<div>
    <h1>Logout</h1>
    <p>Would you like to logut of IdentityServer?</p>
    <form method="post">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
        <button class="btn btn-primary">Yes</button>
    </form>
</div>